body {
	font-family: Arial;
	margin: 0;
}

img{
	overflow: hidden;
}

.fundo{
	background-color: rgba(29,124,248,.05);
	padding: 50px;
}

.inicial{
	text-align: center;
	font-family: sans-serif;

}


.footer{
	 background: #1abc9c;
	 width: 100%;
	 height: 100px;
	 position: relative;
	 bottom: 0;
	 left: 0;
	 min-height: 100%;
	 color: white;
	 padding-top: 10px;
	 padding-bottom: 20px;
	 margin-top: 50px;

}

.header{
	padding: 25px;
  	text-align: left;
  	background: #1abc9c;
  	color: black;
  	font-size: 20px;
}

.feedback{
	position: absolute;
	width: 300px;
	height: 300px;
	margin: 30px;
	border-radius: 12px;
	box-shadow: rgba(30,50,26,0.25) 0px 0px 15px;
	padding: 10px;
}

.nome-pessoa{
	font-size: 25px;
	text-align: center;
	margin-top: 64px;
	margin-bottom: 0px;
}

.texto-pessoa{
	font-size: 20px;
	margin-top: 15px;
	text-align: center;
}

.atualmente{
	font-size: 20px;
	text-align: center;
	color: gray;

}

.sobre-title{
	font-family: sans-serif;
	font-size: 30px;
}

.sobre-text{
	font-family: sans-serif;
	font-size: 22px;
	text-align: justify;
	margin-bottom: 3
}

.texto-fundo{
	margin-left: 50px;
	margin-right: 700px;
}

.lerolero{
	text-align: center;
	font-size: 12px;
	padding-right: 0px;
}

.famosa{
	width: 25%;
	height: 25%;
	margin: 10px;
	border-radius: 10px;

}

.famosa:hover{
	transform: scale(1.50);
}

.monalisa{
	width: 15%;
	height: 180px;
	margin: 10px;
	border-radius: 10px;
}

.monalisa:hover{
	transform: scale(1.50);
}

#bigger-header-text{
	margin-bottom: 0px;
	margin-top: 0px;
}

#smaller-header-text{
	margin-top: -10px;
	margin-bottom: 10px;
}

#title{
	font-size: 34px;
}

#smaller-title{
	font-size: 20px;
	margin-top: -10px;
}

#paint {
    height: 100px;
    width: 100px;
    float: left;
    margin-top: -15px;
}

#inscreva{
	text-align: center;
	font-family: sans-serif;
	font-size: 35px;
	font-weight: 800;
}

#smaller-inscreva{
	text-align: center;
	font-family: sans-serif;
	font-size: 25px;
	margin-top: -25px;
}

img.nobreak{
	white-space: nowrap;
}

#design-grafico{
	display: block;
	width: 50%;
	height: 350px;
	position: absolute;
	left: 25%;
	top: 260px;
	margin-right: auto;
	margin-right: auto;
}

#caixa{
	width: 250px;
	height: 300px;
	padding: 50px;
	margin: 20px;
	margin-bottom: 100px;
	background-color: white;
	text-align: center;
	align-self: center;
	margin: auto;
	border-radius: 200px;
}

#maca{
	position: absolute;
	left: 35%;
	width: 30%;

}

#maca:hover{
	position: absolute;
	left: 35%;
	width: 30%;
	transform: scale(1.20);
}

#cara1{
	width: 70px;
	height: 30%;
	position: absolute;
	bottom: 250px;
	left: 122px;
	padding: 0px;
	margin: auto;
	align-self: center;
}

#rafael{
	top: 520px;
}

#henrique{
	left: 1140px;
}

#almeida{
	top: 520px;
	left: 1140px;
}

#mypassion{
	position: absolute;
	width: 18%;
	height: 22%;
	left: 1240px;
	top: 1159px;
}

#mypassion2{
	position: absolute;
	width: 10%;
	height: 18%;
	left: 1020px;
	top: 1180px;
}

#mypassion3{
	position: absolute;
	width: 45%;
	height: 45%;
	left: 550px;
	top: 1090px;
}

#titulo-obras{
	margin-left: 80px;
}

#seta1{
	position: absolute;
	width: 30%;
	height: 30%;
	left: 1010px;
	top: 1150px;
}

#seta2{
	position: absolute;
	width: 30%;
	height: 30%;
	left: 760px;
	top: 1150px;
}

#zero{
	position: absolute;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	font-size: 30px;
	left: 950px;
	top: 1330px;
	font-weight: 1000;
}

#hero{
	color: red;
}